body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}

#container {
    min-width: 250px;
    min-height: 250px;
    max-height: 960px;
    max-width: 960px;
    display: grid;
    background-color: white;
}

.black {
    background-color: black;
}

.colorChoice {
    padding: 10px;
}